@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kontrol Paneli</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/logincss/style.css">
    <script>
    function validateForm() {
        var bildiri = "";
        var x = document.forms["login"]["usernamefield"].value;
        if (x == null || x == "") {
            alert("Kullanıcı veya Şifre Alanını Boş Geçemezsiniz!");
            return false;
        }
        var z = document.forms["login"]["passwordfield"].value;
        if (z == null || z == "") {
            alert("Kullanıcı veya Şifre Alanını Boş Geçemezsiniz!");
            return false;
        }
    }
    </script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div class="content">
        <!-- Start Content -->
        <div class="linear-form" style="text-align: center;">
            <!-- Start Form  -->


            <form action="/panel/giris" method="post" name="login" onsubmit="return validateForm()">
                <div class="username"><input type="text" name="usernamefield" id="username" value="" placeholder="Kullanıcı Adı" title="Kullanıcı Adı"></div>
                <div class="password"><input type="password" name="passwordfield" id="passwordfield" value="" placeholder="Şifre" title="Şifre"></div>

                <button>Giriş Yap</button>

            </form>
            <span id="bildir" style="float: left; padding-top: 15px; padding-left: 5px; font: normal 14px arial; color: antiquewhite;">Kullanıcı Adı ve Şifre Alanı Boş Olamaz</span>
            <br />


        </div><!-- End Form -->
    </div><!-- End Content -->

</body>
</html>
