@{
    ViewBag.Title = "Bulmaca Oyunları - Hemen Mobil Oyna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

</div>
<div class="ui-header ui-bar-c">
    <a href="/demo" class="ui-btn ui-btn-c" style="font-size:24px;text-align: left;"><i class="fa fa-chevron-circle-left" style="font-size:24px"></i> Geri</a>
    <a href="/oyun/bulmaca/ara" class="ui-btn ui-btn-c" style="font-size:24px;text-align: right;">Ara <i class="fa fa-search" style="font-size:24px"></i></a>
</div>
<div data-role="main" class="ui-content">
    <h1 style="
    color: #a8333e;
">
        Bulmaca Oyunları
    </h1>
    <h2>Toplam 74 Bulmaca Oyunları</h2>
    <p>En iyi bulmaca oyunlari Hurriyet oyun platformunda seni bekliyor.  En guzel bulmaca oyunlarini kesfet ve indirmeden En iyi bulmaca oyunlari Hurriyet oyun platformunda seni bekliyor.  En guzel bulmaca oyunlarini kesfet ve indirmeden En iyi bulmaca oyunlari Hurriyet oyun platformunda seni bekliyor.  En guzel bulmaca oyunlarini kesfet ve indirmeden  En iyi bulmaca oyunlari Hurriyet oyun platformunda seni bekliyor.  En guzel bulmaca oyunlarini kesfet ve indirmeden.</p>

</div>

