@{
    ViewBag.Title = "Ejderhalar Zamanı - Hemen Mobil Oyun";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 </div>
<div class="ui-header ui-bar-c">
    <a href="/demo" class="ui-btn ui-btn-c" style="font-size:24px;text-align: left;"><i class="fa fa-chevron-circle-left" style="font-size:24px"></i> Geri</a>
</div>
<div data-role="main" class="ui-content">
    <h1 style="color: #a8333e;">
        Ejderhalar Zamanı
        <i class="fa fa-star" style="color:gold;"></i>
        <i class="fa fa-star" style="color:gold;"></i>
        <i class="fa fa-star" style="color:gold;"></i>
        <i class="fa fa-star" style="color:gold;"></i>
        <i class="fa fa-star"></i>
    </h1>
    <p>Aksiyon Oyunları</p>
    <img src="/images/m1_detail.jpg" style="width:100%;" />
    <div class="ui-header ui-bar">
        <center>
            <a href="#" class="ui-btn ui-btn-inline ui-corner-all ui-btn-b">
                <img src="/images/hemen-oyna-btn.png" style="width:100%; max-width:300px" />
            </a>
            <br />
            <a href="#" class="ui-btn ui-btn-inline ui-corner-all ui-btn-c" style="font-size:24px">1305 Kez Oynandı</a>
        </center>
        <p style="display:block; float: left; padding:0px 25px;">
            <i class="fa fa-thumbs-o-up" style="color:blue; font-size:24px;"></i>5
            <i class="fa fa-thumbs-o-down" style="color:grey; font-size:24px;"></i>0
        </p>

        <div class="fb-like" data-href="http://hemenmobiloyun.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" style="display:block; float: right; padding:0px 25px;"></div>
    </div>
    <p>Ejderhalar zamanı oyununda, aradan geçen uzun bir zamandan sonra, tehlike ve olağanüstü olayların yaşandığı dünyada, geçmişin gölgesinden kurtulmak isteyen antik yaratıklar tekrardan gün ışığına çıkmaya başlıyorlar. Geçmişte soykırıma uğrayarak kaçmaya zorlandılar ve insanoğlunun hakimiyeti ele geçirmesine tanıklık ettiler. Alışmış oldukları düzen adeta yerle bir oldu. Yeni bir oluşumun sonsuza dek sürmesi beklenirken, her şey birden değişti ve karanlık dünyanın yaratıkları insanoğlunun en eski düşmanını salıverdi.. Ejderha!</p>
    <img src="/images/m1_detail.jpg" style="width:100%;" />
</div>


