@{
    ViewBag.Title = "Aksiyon Oyunlarında Ara - Hemen Mobil Oyun";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

</div>
<div class="ui-header ui-bar-c">
    <a href="/demo" class="ui-btn ui-btn-c" style="font-size:24px;text-align: left;"><i class="fa fa-chevron-circle-left" style="font-size:24px"></i> Geri</a>
    <form class="ui-filterable">
        <input id="filterBasic-input" data-type="search" placeholder="Aksiyon oyunu ara...">
    </form>
</div>
<div data-role="main" class="ui-content">
    <h1 style="
    color: #a8333e;
">
        Aksiyon Oyunları
    </h1>
    <p>Toplam 16 Aksiyon Oyunları</p>
    <div class="ui-grid-d" data-filter="true" data-input="#filterBasic-input">

        <a href="/oyna/dragons" class="ui-btn ui-btn-inline ui-corner-all">
            Dragon<br /><img src="/images/m1.jpg" style="width:100%; max-width:100px" /><br />
            <i class="fa fa-star" style="color:gold; "></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star"></i>
        </a>

        <a href="/oyna/dragons" class="ui-btn ui-btn-inline ui-corner-all">
            Askerler<br /><img src="/images/m6.jpg" style="width:100%; max-width:100px" /><br />
            <i class="fa fa-star" style="color:gold; "></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star"></i>
        </a>

        <a href="/oyna/dragons" class="ui-btn ui-btn-inline ui-corner-all">
            Robotlar<br /><img src="/images/m9.jpg" style="width:100%; max-width:100px" /><br />
            <i class="fa fa-star" style="color:gold; "></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star"></i>
        </a>

        <a href="/oyna/dragons" class="ui-btn ui-btn-inline ui-corner-all">
            Korsanlar<br /><img src="/images/m11.jpg" style="width:100%; max-width:100px" /><br />
            <i class="fa fa-star" style="color:gold; "></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star"></i>
        </a>

        <a href="/oyna/dragons" class="ui-btn ui-btn-inline ui-corner-all">
            Dragon<br /><img src="/images/m1.jpg" style="width:100%; max-width:100px" /><br />
            <i class="fa fa-star" style="color:gold; "></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star"></i>
        </a>

        <a href="/oyna/dragons" class="ui-btn ui-btn-inline ui-corner-all">
            Askerler<br /><img src="/images/m6.jpg" style="width:100%; max-width:100px" /><br />
            <i class="fa fa-star" style="color:gold; "></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star"></i>
        </a>

        <a href="/oyna/dragons" class="ui-btn ui-btn-inline ui-corner-all">
            Robotlar<br /><img src="/images/m9.jpg" style="width:100%; max-width:100px" /><br />
            <i class="fa fa-star" style="color:gold; "></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star"></i>
        </a>

        <a href="/oyna/dragons" class="ui-btn ui-btn-inline ui-corner-all">
            Korsanlar<br /><img src="/images/m11.jpg" style="width:100%; max-width:100px" /><br />
            <i class="fa fa-star" style="color:gold; "></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star"></i>
        </a>        <a href="/oyna/dragons" class="ui-btn ui-btn-inline ui-corner-all">
            Dragon<br /><img src="/images/m1.jpg" style="width:100%; max-width:100px" /><br />
            <i class="fa fa-star" style="color:gold; "></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star"></i>
        </a>

        <a href="/oyna/dragons" class="ui-btn ui-btn-inline ui-corner-all">
            Askerler<br /><img src="/images/m6.jpg" style="width:100%; max-width:100px" /><br />
            <i class="fa fa-star" style="color:gold; "></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star"></i>
        </a>

        <a href="/oyna/dragons" class="ui-btn ui-btn-inline ui-corner-all">
            Robotlar<br /><img src="/images/m9.jpg" style="width:100%; max-width:100px" /><br />
            <i class="fa fa-star" style="color:gold; "></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star"></i>
        </a>

        <a href="/oyna/dragons" class="ui-btn ui-btn-inline ui-corner-all">
            Korsanlar<br /><img src="/images/m11.jpg" style="width:100%; max-width:100px" /><br />
            <i class="fa fa-star" style="color:gold; "></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star"></i>
        </a>        <a href="/oyna/dragons" class="ui-btn ui-btn-inline ui-corner-all">
            Dragon<br /><img src="/images/m1.jpg" style="width:100%; max-width:100px" /><br />
            <i class="fa fa-star" style="color:gold; "></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star"></i>
        </a>

        <a href="/oyna/dragons" class="ui-btn ui-btn-inline ui-corner-all">
            Askerler<br /><img src="/images/m6.jpg" style="width:100%; max-width:100px" /><br />
            <i class="fa fa-star" style="color:gold; "></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star"></i>
        </a>

        <a href="/oyna/dragons" class="ui-btn ui-btn-inline ui-corner-all">
            Robotlar<br /><img src="/images/m9.jpg" style="width:100%; max-width:100px" /><br />
            <i class="fa fa-star" style="color:gold; "></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star"></i>
        </a>

        <a href="/oyna/dragons" class="ui-btn ui-btn-inline ui-corner-all">
            Korsanlar<br /><img src="/images/m11.jpg" style="width:100%; max-width:100px" /><br />
            <i class="fa fa-star" style="color:gold; "></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star"></i>
        </a>
    </div>
</div>

