@model hemenmo.Models.home
    
@{
    ViewBag.Title = "Hemen Mobil Oyna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="navbar">
    <ul>
        @{
            int k=0;
        }
    @foreach (var kategory in Model.Kategoriler.Take(5).Where(x=>x.category_top_menu!=0))
    {
        if (k % 2 == 0)
        {
        <li><a href="/oyun/@kategory.category_name_seo" data-theme="c">@kategory.category_name</a></li>
        }
        else
        {
        <li><a href="/oyun/@kategory.category_name_seo" data-theme="b">@kategory.category_name</a></li>
        }
        k++;
    }
    </ul>
</div>
  </div>
<div data-role="main" class="ui-content" style="padding:0px !important;">

    <center>

        			<div id="cbp-fwslider" class="cbp-fwslider">
				<ul>
                @foreach (var slide in Model.slider.OrderBy(x => x.image_order).Where(z => z.image_active == 1))
        {

					<li><a href="@slide.image_link"><img src="@slide.image_name" alt=""/></a></li>

            }
				</ul>
			</div>

                
            

        <div data-role="main" class="ui-content" style="padding-top:0.2em">
            <span class="ui-sub-text">Hem arkadaşlarınızla hem de kendi başınıza oynayabileceğiniz onlarca mobil oyun Hemen Mobil Oyun'da</span>
        </div>
    </center>
</div>
