@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Mobil Oyunlar</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/jquery.mobile-1.4.5.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>
<body>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>





    <div data-role="page" id="pageone">
        @Html.Partial("Panel")
        <div data-role="header">
            <a href="#myPanel" class="ui-nav-icon ui-btn ui-btn-inline ui-corner-all ui-shadow ui-btn-b"><i class="fa fa-list-ul" style="font-size:150%"></i></a>
            <a href="/" class="ui-nav-icon ui-btn ui-btn-inline ui-icon-home ui-corner-all ui-shadow "><i class="fa fa-home" style="font-size:150%"></i></a>
            <h1>
                <a href="/">
                    <img src="/images/logo.png" style="
    width: 100%;
    max-width: 200px;
" />
                </a>
            </h1>

            @Html.Partial("Footer_Games")
            <div data-role="footer">
                <h1>Hemen Mobil Oyna</h1>
            </div>

        </div>


        <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />

        <link rel="stylesheet" type="text/css" href="/css/component.css" />
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">




        <script src="/js/modernizr.custom.js"></script>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-69743216-2', 'auto');
            ga('send', 'pageview');

        </script>
        @* <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@
        <script src="/js/jquery.cbpFWSlider.min.js"></script>
        <script>
            $(function () {
                /*
		        - how to call the plugin:
		        $( selector ).cbpFWSlider( [options] );
		        - options:
		        {
		        // default transition speed (ms)
		        speed : 500,
		        // default transition easing
		        easing : 'ease'
		        }
		        - destroy:
		        $( selector ).cbpFWSlider( 'destroy' );
		        */

                $('#cbp-fwslider').cbpFWSlider();

            });
        </script>
</body>
</html>
